.about {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    /* margin-top: 80px; */
}

.about_top h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

.about_top h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

@media (max-width: 430px){
    .about_top h3{
        font-size: 30px;
    }
}

.about_top span {
    font-size: 30px;
    color: rgba(216, 35, 15, 0.8);
}

.about_top p {
    font-size: 18px;
    line-height: 1.6;
    /* margin-bottom: 40px; */

}

.a {
    display: flex;
    align-items: center;
    /* margin-top: 50px; */
    gap: 20px;
}

.cv button{
    width: 110px;
    height: 45px;
    background-color: rgba(216, 35, 15, 0.8);
    border: 2px solid rgba(216, 35, 15, 0.8);
    border-radius: 100px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.6s;
}

@media (max-width: 430px){
    .a{
        margin-bottom: 90px;
        margin-top: 30px;
    }
}

.cv_button button{
    width: 150px;
    height: 45px;
    border-radius: 100px;
    /* border: none; */
    background-color: rgba(216, 35, 15, 0.8);
    color: #fff;
    font-size: 16px;
    transition: 0.6s ease-out;
    border: 2px solid rgba(216, 35, 15, 0.8);
}

@media (max-width: 430px){
    .cv_button button{
        width: 110px;
        font-size: 14px;
    }
}

.a button:hover{
    border: 2px solid rgba(216, 35, 15, 0.8);
    background: none;
}

.li img {
    width: auto;
    height: 30px;
}

.li {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

li {
    font-size: 20px;
    width: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgba(216, 35, 15, 0.8);
    border-radius: 30px;
    margin-block: 20px;
}

@media(max-width:430px){
    li{
        width: 120px;
        font-size: 14px;
        border: 2px solid rgba(216, 35, 15, 0.8);
    }
}

li:hover {
    box-shadow: 0 0 10px rgba(216, 35, 15, 0.8);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.8s;
}

.skills {
    width: 400px;
}

@media (max-width: 430px){
    .skills{
        width: 320px;
        margin: 0 auto;
    }
}

.skill {
    margin-bottom: 20px;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 6px;
}

.bar {
    background: #484848;
    border-radius: 5px;
    height: 15px;
    overflow: hidden;
}

.fill {
    background: rgba(216, 35, 15, 0.8);
    height: 100%;
    border-radius: 5px;
    transition: width 0.8s ease;
}

.about_main {
    display: flex;
    margin-top: 60px;
    gap: 100px;
}

@media (max-width: 430px){
    .about_main{
        flex-direction: column;
    }
}

.im_info {
    display: flex;
    gap: 30px;
}

@media(max-width:430px){
    .im_info{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}

.about_me {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about_me p {
    color: white;
    font-size: 16px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    padding-left: 10px;
}

.about_me span {
    color: rgba(216, 35, 15, 0.8);
    font-size: 16px;
}