:root {
    --textColor: rgba(216, 35, 15, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact_mee {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

.contact_me {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.h11 {
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--textColor);
}

@media(max-width:430px){
    .h11{
        display: none;
    }
}

.contact_me h5 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--textColor);
}

.contact_div {
    display: flex;
    gap: 100px;
    align-items: center;
}

@media (max-width:430px){
    .contact_div{
        flex-direction: column;
        gap: 30px;
    }
}

.telefon {
    width: 190px;
    height: 190px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    color: gray;
    border-radius: 10px;
}

@media(max-width:430px){
    .telefon{
        box-shadow: 0px 4px 4px 4px #000000;
    }

    .wrap.light .content .telefon{
        box-shadow: 0px 4px 4px 4px rgb(217, 212, 212);
    }
}

.telefon h1 {
    font-size: 20px;
    color: white;
}

.telefon:hover {
    color: var(--textColor);
    transform: scale(1.05);
    border-bottom: 10px solid var(--textColor);
    box-shadow: 0px 4px 4px 4px #000000;
    transition: 0.2s ease-out;
}

.telefon:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 1px 1px #000000;
}

.contact_us {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact_us h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--textColor);
}

@media(max-width:430px){
    .contact_us h1{
        font-size: 30px;
        margin-bottom: 1px;
    }
}

.contact_us h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

@media(max-width:430px){
    .contact_us h5{
        display: none;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 1000px;
    height: 45px;
    border-radius: 100px;
    border: 2px solid gray;
    padding-left: 20px;
    font-size: 16px;
    outline: none;
    background-color: rgb(44, 41, 41);
    color: white;
}

textarea:focus{
    box-shadow: 0 0 12px #767575;
}

input:focus{
    box-shadow: 0 0 12px #767575;
}

@media (max-width:430px){
    input{
        width: 350px;
    }
}

.form textarea {
    height: 150px;
    border-radius: 20px;
    border: 2px solid gray;
    outline: none;
    padding: 20px;
    font-size: 16px;
    background-color: rgb(44, 41, 41);
    color: white;
    resize: none;
}

.send_btn {
    width: 260px;
    height: 45px;
    background-color: var(--textColor);
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid var(--textColor);
}

@media(max-width:430px){
    .send_btn{
        width: 160px;
        height: 35px;
        margin-bottom: 50px;
    }
}

.send_btn:hover {
    background-color: transparent;
    border: 2px solid var(--textColor);
    transition: 0.6s;
}


