:root {
    --textColor: rgba(216, 35, 15, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact_mee {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

.contact_me {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.contact_me h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--textColor);
}

.contact_me h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact_div {
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
    align-items: center;
}

.telefon {
    width: 190px;
    height: 190px;
    /* border: 2px solid var(--textColor); */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    color: gray;
    border-radius: 10px;
}

.telefon h1 {
    font-size: 20px;
    color: white;
}

.telefon:hover {
    color: var(--textColor);
    transform: scale(1.05);
    border-bottom: 10px solid var(--textColor);
    box-shadow: 0px 4px 4px 4px #000000;
    transition: 0.2s ease-out;
}

.telefon:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 1px 1px #000000;

}

.contact_us {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact_us h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--textColor);
}

.contact_us h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    display: flex;
    gap: 100px;
}

.name input {
    width: 450px;
    height: 45px;
    border-radius: 100px;
    border: 2px solid gray;
    padding-left: 20px;
    font-size: 16px;
    outline: none;
    background-color: rgb(44, 41, 41);
    color: white;
}

.name input::placeholder {
    color: rgb(255, 255, 255);
}

.subject {
    height: 45px;
    border-radius: 100px;
    border: 2px solid gray;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    background-color: rgb(44, 41, 41);
    color: white;

}

.subject::placeholder {
    color: rgb(255, 255, 255);
}

.form textarea {
    height: 150px;
    border-radius: 20px;
    border: 2px solid gray;
    outline: none;
    padding: 20px;
    font-size: 16px;
    background-color: rgb(44, 41, 41);
    color: white;
}

.form textarea::placeholder {
    color: rgb(255, 255, 255);
}

.send_btn {
    width: 260px;
    height: 45px;
    background-color: var(--textColor);
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid var(--textColor);
}

.send_btn:hover {
    background-color: transparent;
    border: 2px solid var(--textColor);
    transition: 0.6s;
}

.send_btn:active {
    transform: scale(0.95);
}