@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


/* =========== HOME ============= */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 10px 0 60px;
    height: 100%;
}

@media (max-width: 430px){
    .home{
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
        margin-bottom: 100px;
    }
}

.home_text h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 60px;
}

@media (max-width:430px){
    .home_text h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.home_text h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    height: 40px;
    margin-bottom: 20px;
}

@media (max-width:430px) {
    .home_text h2{
        font-size: 30px;
        margin-bottom: -40px;
    }
}

.typing {
    color: rgb(216, 35, 15);
    font-size: 35px;
    padding-inline: 10px;
    font-family: "EB Garamond", serif;
}

.home_text p {
    font-size: 18px;
    color: white;
    line-height: 1.5;
    width: 500px;
    margin-top: 100px;
    transition: 0.6s;
}

@media(max-width:430px){
    .home_text p{
        font-size: 12px;
        width: 300px;
        text-align: center;
        margin-top: 70px;
    }
}

.home_text p:hover {
    text-shadow: 0 0 5px white;
    transform: scale(1.05);
}
.w {
    color: rgb(216, 35, 15);
    font-size: 22px;
    font-weight: 600;
    border-top: 5px solid rgb(216, 35, 15);
    border-left: 5px solid rgb(216, 35, 15);
    padding-left: 5px;
}

.name1 {
    display: inline-block;
    border: 5px solid rgb(216, 35, 15);
    font-family: "Dancing Script", serif;
    border-radius: 60px;
    padding-inline: 15px;
    animation:
        colorCycle 20s infinite linear,
        nameType 4s infinite ease-in-out;
    transition: all 0.3s ease;
}
.name1:hover {
    box-shadow: 0 0 20px rgb(216, 35, 15);
}

@keyframes nameType {
    0% { transform: translateY(0); }

    50% { transform: translateY(-3px); }

    100% { transform: translateY(0); }
}

@keyframes colorCycle {
  0% { color: white; text-shadow: 0 0 10px white, 0 0 20px white; }
  25% { color: rgb(216, 35, 15); text-shadow: 0 0 10px rgb(216, 35, 15), 0 0 25px rgb(216, 35, 15); }
  50% { color: rgb(255, 136, 0); text-shadow: 0 0 10px rgb(255, 136, 0), 0 0 25px rgb(255, 136, 0); }
  75% { color: rgb(255, 255, 0); text-shadow: 0 0 10px rgb(255, 255, 0), 0 0 25px rgb(255, 255, 0); }
  100% { color: white; text-shadow: 0 0 10px white, 0 0 25px white; }
}

.homeWrap{
    margin-bottom: 60px;
}

.btn {
    margin-top: 50px;
    width: 150px;
    height: 40px;
    background-color: rgb(216, 35, 15);
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 60px;

}

@media(max-width:430px){
    .btn{
        margin-bottom: 30px;
    }
}

.btn:hover {
    background: none;
    border: 2px solid rgb(216, 35, 15);
}


.home_img img {
    width: 300px;
    height: 500px;
    margin-right: 70px;
    border-radius: 10px;
    object-fit: cover;
    border-top: 10px solid rgb(216, 35, 15);
    box-shadow: 0 30px 60px rgba(216, 35, 15, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    animation: imgAnim 2s ease-in-out infinite alternate;
}

@media (max-width:430px){
    .home_img img{
        width: 250px;
        height: 400px;
        margin-right: 0;
        margin-top: 50px;
    }
}

@keyframes imgAnim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.home_img img:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 50px 90px rgba(216, 35, 15, 0.8);
}