@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #060606;
    color: #ccd6f6;
    overflow-x: hidden;
}

.loading {
    color: rgb(216, 35, 15);
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Dancing Script', cursive;
}


.components {
    display: flex;
}

.content {
    width: 100%;
    height: 100vh;
    color: #fff;
    overflow: auto;
    background-color: #151515;
}

.menuBar {
    background-color: #1f1f1f;
    width: 350px;
    height: 100vh;
    display: flex;
    align-items: center;
    border-right: 2px solid gray;
    flex-direction: column;
    gap: 300px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.link {
    display: flex;
    text-decoration: none;
    width: 120px;
    gap: 10px;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    transition: 0.6s;
}

.link:hover {
    color: rgb(216, 35, 15);
    transform: translateX(20px);
}

.link.active {
    transform: translateX(30px);
    color: rgb(216, 35, 15);
    border-bottom: 1px solid rgb(216, 35, 15);
}

.menuBar h1 {
    margin-top: 30px;
    font-family: "Dancing Script", cursive;
    color: rgb(216, 35, 15);
}

.nameImg {
    padding-left: 5px;
    font-family: "EB Garamond", serif;
    color: white;
}


.dark_sun {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin: 40px;
}

.dark_sun button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #060606;
    cursor: pointer;
    transition: 0.7s;
    border: none;
    box-shadow: 2px 2px 2px 2px #2b2b2b;
}

.dark_sun button:active{
    transform: scale(0.80);
}

.wrap.light .content { background-color: white; color: #060606; }
.wrap.light .content h1, .wrap.light .content h2, .wrap.light .content h3, .wrap.light .content h4, .wrap.light .content h5, .wrap.light .content li, .wrap.light .content p, .wrap.light .content .skill-name, .wrap.light .content .skill-percent { color: #060606; }
.wrap.light .content button:hover { color: #060606; }
.wrap.light .menuBar { background-color: rgb(234, 233, 233); border-right: 2px solid #060606; }
.wrap.light .menuBar span, .wrap.light .menuBar .link { color: #060606; }
.wrap.light .menuBar .link:hover, .wrap.light .menuBar .link.active { color: rgb(216, 35, 15); }


.wrap.light .content .telefon:hover {box-shadow: 0px 4px 4px 4px rgb(217, 212, 212);}
.wrap.light .content .name input {background-color: white; border: 2px solid black; color: black;}
.wrap.light .content .name input::placeholder {color: black;}

.wrap.light .content .subject{background-color: white; border: 2px solid black; color: black;}
.wrap.light .content .subject::placeholder {color: black;}

.wrap.light .content .form textarea {background-color: white; border: 2px solid black; color: black;}
.wrap.light .content .form textarea::placeholder {color: black;}