.portfolio{
    width: 100%;
    height: 100vh;
    color: #fff;
    overflow: auto;
    padding: 20px;
}

.portfolio h1{
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.contact_me1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 10px;
}
.contact_me1 h5{
    font-size: 25px;
}

.contact_me1 button{
    text-decoration: none;
    width: 180px;
    height: 50px;
    background-color: rgba(215, 35, 15);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid rgba(215, 35, 15);
}

.contact_me1 button:hover{
    background: none;
    border: 2px solid rgba(215, 35, 15);
    color: rgba(215, 35, 15);
    transition: 0.6s;
}

.contact_me1 button:active{
    transform: scale(0.95);
}

.projects{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.projects_card{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.projects_card1{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.card{
    width: 300px;
    height: 180px;
    border: 2px solid rgba(215, 35, 15, 0.8);
    border-radius: 10px;
    padding: 5px;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.card:hover{
    box-shadow: 0 10px 25px rgba(250, 58, 58, 0.4);
    transform: scale(1.05);
    transition: 0.6s;
}